body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
}

.login-card {
    border: 1px solid #333;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 60px 50px;
    width: 20%;
}

header {
    width: 100%;
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    font-size: 14px;
}

header h1 {
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    padding: 30px 0;
}
.form-group {
    text-align: start;
    margin-bottom: 15px;
}

.cadastro-card {
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 15px;
    font-family: "Darker Grotesque", serif;
    font-size: 17px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group p {
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-top: 15px;
    font-size: 20px;
}

button {
    background-color: white;
    font-family: "Darker Grotesque";
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: solid 1px #0E1726;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    background-color: #3179FF;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #245bc0;
}

.conta-card p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-top: 15px;
    font-size: 20px;
}

a {
    padding-left: 5px;
    color: #2761CC;
}

a:hover {
    text-decoration: underline;
    color: #183874;
}

hr {
    width: 100%;
    border: 1px solid #333;
    margin-top: 20px;
}