body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}

button {
    background-color: black;
    font-family: "Darker Grotesque", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}