<div class="container">
    <div class="home-card">
    <header>
        <h1>Vamos jogar?</h1>
        <h4>Escolha seu desafio e teste seus conhecimentos</h4>
    </header>

    <body>
        <button type="submit" routerLink="/desafio-geral">Desafio Geral</button>
        <button type="submit" routerLink="/configuracoes">Configurações</button>
        <button type="submit" routerLink="/plano-nexo">Planos Nexo</button>
        <button type="submit" routerLink="/sobre">Sobre</button>
    </body>
    </div>
</div>