<div class="legenda" *ngIf="currentQuestion && currentQuestion !== 0">
    <p *ngIf="currentQuestion < 10">Você está quase terminando o desafio de hoje! Vamos lá</p>
    <p *ngIf="currentQuestion === 10">Você já terminou seu desafio diário! Parabéns!</p>
    <div class="barra-progresso">
        <span class="numero-questao">QUESTÃO {{ currentQuestion }}</span>
        <div class="progress-bar">
            <div class="progress" [style.width.%]="(currentQuestion / 10) * 100"></div>
        </div>
    </div>
</div>

<div class="legenda-descricoes">
    <h4>Seus pontos fortes estão aqui!</h4>
    <p>Veja quais suas melhores áreas de conhecimento e quais você pode melhorar!</p>
    <p class="especial" (click)="verEstatisticas()">Estatísticas de Jogos Anteriores</p>
</div>

<button type="submit" (click)="desconectar()">Desconectar</button>