body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.titulo {
    margin: 40px 0px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 33px;
}

.subtitulo {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 400;
}

.areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.area {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 4px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

.matematica {
    border-color: #2761CC;

    h2 {
        color: #2761CC;
    }
}

.humanas {
    border-color: #F18701;

    h2 {
        color: #F18701;
    }
}

.natureza {
    border-color: #287300;

    h2 {
        color: #287300;
    }
}

.linguagens {
    border-color: #F33404;

    h2 {
        color: #F33404;
    }
}

.area img {
    width: auto;
    height: 60px;
    margin-bottom: 20px;
}

.custo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 15px;
    margin-top: 10px;
}

.custo img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}