<body>
    <div class="container">
        <h1 class="titulo">Áreas do Conhecimento</h1>
    
        <div class="areas">
            <div class="area matematica" (click)="selecionarArea(38)">
                <h1>Matemática</h1>
            </div>
            <div class="area humanas" (click)="selecionarArea(40)">
                <h1>Humanas</h1>
            </div>
            <div class="area natureza" (click)="selecionarArea(39)">
                <h1>Natureza</h1>
            </div>
            <div class="area linguagens" (click)="selecionarArea(37)">
                <h1>Linguagens</h1>
            </div>
        </div>
    </div> 
</body>
