.alerta-excecao {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    border: solid 2px black;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 6px 6px 0px black;
    transition: opacity 0.5s, visibility 0.5s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.aviso {
        background: #FFEB3B; // Amarelo
    }

    &.erro {
        background: #FF4C4C; // Vermelho
    }

    &.confirmacao {
        background: #4CAF50; // Verde
    }

    button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding-left: 50px;
    }
}
