<div *ngIf="questaoDiaria" class="questao-container">
    <div class="barra-progresso">
        <span class="numero-questao">QUESTÃO {{ currentQuestion }}</span>
        <div class="progress-bar">
            <div class="progress" [style.width.%]="(currentQuestion / 10) * 100"></div>
        </div>
    </div>

    <div class="indicativo-questao">
        <p>Questão ENEM | {{ questaoDiaria.year }} - {{ areaConhecimento }} </p>
    </div>

    <div class="questao-texto" [innerHTML]="questaoDiaria.baseText"></div>
    <div class="questao-texto" [innerHTML]="questaoDiaria.stem"></div>

    <ul class="question-items">
        <li *ngFor="let item of questionItems; let i = index" [class.marcado]="item.correctItem">
            <button class="item-botao" (click)="markItem(i)">
                <span class="bolinha" [class.checked]="item.correctItem"></span>
                <span>{{ getLetter(i) }})</span>
                <div [innerHTML]="item.description"></div>
            </button>
        </li>
    </ul>
</div>