<div class="container">
    <div class="cadastro-card">
        <header>
            <h1>Cadastrar</h1>
        </header>

        <body>
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="form-group">
                    <p>Nome</p>
                    <input type="text" id="nome" name="nome" placeholder="Nome" ngModel required />
                </div>
                <div class="form-group">
                    <p>E-mail</p>
                    <input type="text" id="email" name="email" placeholder="E-mail" ngModel required />
                </div>
                <div class="form-group">
                    <p>Senha</p>
                    <input type="password" id="senha" name="senha" placeholder="Senha" ngModel required />
                </div>
                <div class="form-group">
                    <p>Confirmar senha</p>
                    <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirmar senha" ngModel required />
                </div>
                <button type="submit" [disabled]="!loginForm.valid">Cadastrar</button>
            </form>

            <div class="conta-card">
                <p>Já tenho conta! <a routerLink="/login"> Fazer Login</a></p>
            </div>
        </body>
    </div>
</div>