<header>
    <div class="container-dinamico">
        <div>
            <p>Sobre</p>
        </div>
        <div>
            <p>Perfil</p>
        </div>
        <div>
            <p>Acessibilidade</p>
        </div>
    </div>

    <div class="container">
        <div>
            <ng-container *ngIf="router.url !== '/' && router.url !== '/login' && router.url !== '/cadastro'">
                <div class="informacoes-usuario">
                    <img src="assets/imagens/icone-dinheiro.jpg" alt="Ícone Dinheiro">
                    <p>{{ usuario?.qtd_moedas }}</p>
                </div>
            </ng-container>
        </div>
        <div class="nome-projeto">
            <h1>Nexo</h1>
        </div>
        <div>
            <p>^</p>
        </div>
    </div>
</header>

<body>
    <router-outlet></router-outlet>
</body>