body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-sizing: inherit;
}

.container-dinamico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A40;
    width: 100%;
    height: 100%;
    padding: 5px 16px;
    box-sizing: border-box;
    font-family: Darker Grotesque;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    text-decoration-skip-ink: none;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px #D3D3D3;
    width: 100%;
    box-sizing: border-box;

    div {
        display: flex;
        align-items: center;

        &:first-child {
            justify-content: flex-start;
            padding-left: 16px;
        }

        &.nome-projeto {
            justify-content: center;
            flex-grow: 1;
            text-align: center;

            h1 {
                font-family: Darker Grotesque;
                font-size: 34.76px;
                font-weight: 900;
                line-height: 47.14px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin: 0;
                font-size: 42px;
                color: #333;
            }
        }

        &:last-child {
            justify-content: flex-end;
            padding-right: 16px;
        }
    }

    img {
        height: 17px;
        width: 17px;
        border-radius: 30px;
    }

    .informacoes-usuario {
        display: flex;
        align-items: center;
        border: 1px solid #D2D5D9;
        border-radius: 30px;

        p {
            margin-left: 10%;
            font-family: Darker Grotesque;
            font-size: 1rem;
            font-weight: 900;
            text-align: center;
            text-decoration-skip-ink: none;
            font-size: 17px;
            color: #1E2A40;
        }
    }
}