body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.questao-container {
  margin: 0px 10%;
  padding-bottom: 18vh;
}

.indicativo-questao {
  width: 100%;
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 24px;
  margin: 50px 0;
}

.questao-texto {
  width: 100%;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-size: 24px;
  line-height: normal;
  padding-bottom: 30px;
}

::ng-deep .questao-texto img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.item-texto {
  width: 100%;
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 24px;
}
.question-items {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;

    .item-botao {
      background-color: white;
      font-family: "Darker Grotesque", serif;
      font-size: 20px;
      color: #0E1726;
      padding-left: 16px;
      border: solid 1px #0E1726;
      border-radius: 10px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: background-color 0.3s ease, color 0.3s ease;
      padding: 20px;

      .bolinha {
        width: 20px;
        height: 20px;
        border: 2px solid #0E1726;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s ease;
        margin-right: 20px;

        &.checked {
          background-color: #3179FF;
        }
      }
    }

    &.marcado .item-botao {
      background-color: #CADCFF;
      font-weight: bold;
      border: solid 1px #3179FF;
    }
  }
}

.barra-progresso {
  width: 100%;
  font-family: "Darker Grotesque", serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.numero-questao {
  margin-right: 10px;
  font-weight: bold;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  background-color: #D2D5D9;
  border-radius: 10px;
  margin: 0 10px;
}

.progress {
  height: 100%;
  background-color: #40B600;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.footer-container {
  height: 15vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
}

.footer-left {
  display: flex;
  padding: 2% 10%;
  gap: 15px;
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  color: #666;
}

.footer-right {
  display: flex;
  padding: 2% 10%;
  gap: 15px;
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 43px;
  color: #666;
}

.confirmar-botao {
  background-color: #3179FF;
  color: white;
  width: 350px;
  height: 60px;
  border: none;
  cursor: pointer;
  gap: 10px;
  border-radius: 10px;
  font-family: "Darker Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 32px;
}

.confirmar-botao:hover {
  background-color: #245bc0;
}

.dica,
.pulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #D2D5D9;
  border-radius: 30px;
  padding: 8px 25px;
  min-width: 50px;
  height: auto;
}

.dica img {
  width: 16px;
  height: 24px;
}

.pulo img {
  width: 18px;
  height: 15px;
}

.dica p,
.pulo p {
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 17px;
  font-weight: 900;
  color: #1E2A40;
  text-align: center;
  white-space: nowrap;
}