<div class="container-total">
    <div class="container">
        <div class="perfil-header">
            <div class="perfil-imagem">
                <img src="assets/imagens/imagem-usuario.png" alt="">
            </div>
            <div class="perfil-info">
                <h1>{{ usuario?.nome }}</h1>
                <button type="button" [routerLink]="['/editar-perfil', usuario?.id]">Editar Perfil</button>
            </div>
        </div>

        <div class="menu">
            <h3 (click)="mostrarPerfil()" [ngClass]="{'active': abaAtiva === 'perfil'}">Perfil</h3>
            <h3 (click)="mostrarEstatisticas()" [ngClass]="{'active': abaAtiva === 'estatisticas'}">Minhas Estatísticas
            </h3>
        </div>

        <div *ngIf="abaAtiva === 'perfil'">
            <app-perfil></app-perfil>
        </div>

        <div *ngIf="abaAtiva === 'estatisticas'">
            <app-estatisticas-usuario></app-estatisticas-usuario>
        </div>
    </div>
</div>