<body>
    <div class="container" style="position: relative;">
        <button class="btn-fechar" onclick="window.history.back()">✖</button>
        <p>O jogo é voltado para a prática de questões de vestibular, com um foco específico no ENEM, que permite ao
            usuário
            testar seus conhecimentos diariamente com as questões disponibilizadas.</p>
        <p>Todos os dias temos questões diferentes para você testar seus conhecimentos de forma mais descontraída.</p>
        <h1><b>Como jogar?</b></h1>
        <p>É bem simples, se liga:</p>
        <ul>
            <li>
                <p>Acesse o <b>desafio diário</b></p>
            </li>
            <li>
                <p>Responda as 10 questões</p>
            </li>
            <li id="volte-amanha">
                <p>Volte amanhã para mais!</p>
            </li>
        </ul>
        <h1><b>Dicas</b></h1>
        <ol>
            <li><b>Moedas</b>
                <ul>
                    <li>
                        <p>À medida que você acerta desafios, você adquire moedas que podem ser trocadas por dicas.</p>
                    </li>
                </ul>
                <div class="container-botoes">
                    <div class="informacoes-usuario">
                        <img src="assets/imagens/icone-dinheiro.png" alt="Ícone Dinheiro">
                        <p>0</p>
                    </div>
                </div>
            </li>

            <li> <b>Dicas</b>
                <ul>
                    <li>
                        <p>As dicas são 2: <b>“Pular questão”</b> e <b>“Me dá uma luz”</b></p>
                    </li>
                </ul>
                <div class="container-botoes">
                    <div class="dica">
                        <img src="assets/imagens/icone-dica.png" alt="Ícone Dicas">
                        <p>0</p>
                    </div>
                    <div class="pulo">
                        <img src="assets/imagens/icone-skip.png" alt="Ícone Pular Questão">
                        <p>0</p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</body>